{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <img src="/img/home/tits-cover.png" alt="Tapas in the sun logo" ></br>
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</br>My latest posts:
</article>
{{- end -}}
